$background-color-01: #262626;
$background-color-02: #1A1A1A;
$background-color-03: #0D0D0D;
$background-color-04: #333333;
$background-color-05: #2C2C2C;

$primary-color: #404040;
$secondary-color: #A6A6A6;
$text-primary-color: #F2F2F2;
$text-secondary-color: #D9D9D9;
$highlight-color: #A6A6A6;
$border-color: #404040;

@font-face {
    font-family: 'satoshi';
    src: url(../fonts/satoshi.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: satoshi;
    color: $text-primary-color;
}

html {
    touch-action: manipulation;
    /* Prevents double-tap to zoom */
    -ms-touch-action: manipulation;
    /* For IE/Edge compatibility */
}

body {
    opacity: 0;
    transition: all 0.5s ease;
    background-color: $background-color-01;
    overflow: hidden;

    &.loaded {
        opacity: 1;
    }

    h1 {
        font-size: clamp(20px, 4vw, 52px);
    }

    h2 {
        font-size: clamp(18px, 3vw, 46px);
    }

    h3 {
        font-size: clamp(16px, 2vw, 42px);
    }

    h4 {
        font-size: clamp(14px, 1.5vw, 38px);
    }

    h5 {
        font-size: clamp(12px, 1vw, 34px);
    }

    h6 {
        font-size: clamp(10px, 0.5vw, 30px);
    }

    p {
        font-size: clamp(12px, 1.5vw, 32px);
    }


}
