@font-face {
  font-family: "satoshi";
  src: url(../fonts/satoshi.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: satoshi;
  color: #F2F2F2;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  touch-action: manipulation;
  /* Prevents double-tap to zoom */
  -ms-touch-action: manipulation;
  /* For IE/Edge compatibility */
}

body {
  opacity: 0;
  transition: all 0.5s ease;
  background-color: #262626;
  position: relative;
  overflow: auto;
}
body.loaded {
  opacity: 1;
}
body h1 {
  font-size: clamp(20px, 4vw, 52px);
}
body h2 {
  font-size: clamp(18px, 3vw, 46px);
}
body h3 {
  font-size: clamp(16px, 2vw, 42px);
}
body h4 {
  font-size: clamp(14px, 1.5vw, 38px);
}
body h5 {
  font-size: clamp(12px, 1vw, 34px);
}
body h6 {
  font-size: clamp(10px, 0.5vw, 30px);
}
body p {
  font-size: clamp(12px, 1.5vw, 16px);
}

@keyframes l7 {
  33% {
    background-size: 33.3333333333% 0%, 33.3333333333% 100%, 33.3333333333% 100%;
  }
  50% {
    background-size: 33.3333333333% 100%, 33.3333333333% 0%, 33.3333333333% 100%;
  }
  66% {
    background-size: 33.3333333333% 100%, 33.3333333333% 100%, 33.3333333333% 0%;
  }
}
.side-header {
  width: 100px;
  height: 400px;
  z-index: 998;
  position: fixed;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.side-header.active {
  opacity: 1;
  pointer-events: all;
  transition-delay: 700ms;
}
.side-header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-header ul:hover li, .side-header ul.active li {
  margin: 10px 0;
}
.side-header ul:hover li p, .side-header ul.active li p {
  opacity: 1;
  pointer-events: all;
}
.side-header ul li {
  list-style: none;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-left: 20px;
  transition: all 0.3s ease;
}
.side-header ul li .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #A6A6A6;
  margin: 1rem 0;
  transition: all 0.3s ease;
  margin-right: 20px;
}
.side-header ul li .dot.active {
  width: 10px;
  height: 10px;
  background-color: #404040;
}
.side-header ul li p {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.side-header ul li p:hover {
  color: #404040;
}

#page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#page-loader div {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 100%;
  animation: l7 1s infinite linear;
}

.section {
  width: 100%;
  height: calc(100vh - env(safe-area-inset-bottom));
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  position: relative;
}
.section .fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .no-data-found {
  color: #D9D9D9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section.home {
  background-color: #262626;
}
.section.home .home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.section.home .home-content .home-content-info {
  margin: 0 2rem;
}
.section.home .home-content .home-content-info h1 {
  color: #F2F2F2;
}
.section.home .home-content .home-content-info p {
  color: #D9D9D9;
}
.section.home .home-content .home-content-image {
  margin: 0 2rem;
  width: 200px;
  height: 200px;
}
.section.home .home-content .home-content-image img {
  width: auto;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.section.intro {
  background-color: #1A1A1A;
}
.section.intro p {
  width: 50%;
  color: #D9D9D9;
  font-size: clamp(12px, 1.5vw, 22px);
}
.section.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  position: relative;
}
.section.portfolio .zoomed-in-blur-effect {
  display: none;
}
.section.portfolio .zoomed-in-blur-effect img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}
.section.portfolio .zoomed-in-blur-effect.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}
.section.portfolio .portfolio-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 70%;
  height: 90%;
}
.section.portfolio .portfolio-project .portfolio-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  height: 75%;
}
.section.portfolio .portfolio-project .portfolio-image .image-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #262626;
}
.section.portfolio .portfolio-project .portfolio-image .image-loader div {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 100%;
  animation: l7 1s infinite linear;
}
.section.portfolio .portfolio-project .portfolio-image .portfolio-image-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.section.portfolio .portfolio-project .portfolio-image .portfolio-image-controller {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #404040;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}
.section.portfolio .portfolio-project .portfolio-image .portfolio-image-controller.left {
  left: -20px;
}
.section.portfolio .portfolio-project .portfolio-image .portfolio-image-controller.right {
  right: -20px;
}
.section.portfolio .portfolio-project .portfolio-image .portfolio-image-controller:hover {
  background-color: #A6A6A6;
}
.section.portfolio .portfolio-project .portfolio-info {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section.portfolio .portfolio-project .portfolio-info h2 {
  color: #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 0.5rem;
}
.section.portfolio .portfolio-project .portfolio-info p {
  color: #D9D9D9;
  margin: 1rem 0;
}
.section.portfolio .portfolio-project .portfolio-info .portfolio-smalls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.section.portfolio .portfolio-project .portfolio-info .portfolio-smalls small {
  color: #D9D9D9;
}
.section.portfolio .portfolio-project .project-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}
.section.portfolio .portfolio-project .project-skills p {
  color: #D9D9D9;
  width: 100%;
}
.section.portfolio .portfolio-project .project-skills .project-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: #262626;
  width: 50px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.section.portfolio .portfolio-project .project-skills .project-skill.active {
  background-color: #404040;
}
.section.portfolio .portfolio-project .project-skills .project-skill .project-skill-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  z-index: 999;
}
.section.portfolio .portfolio-project .project-skills .project-skill .project-skill-loader div {
  width: 40px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 100%;
  animation: l7 1s infinite linear;
}
.section.portfolio .portfolio-project .project-skills .project-skill:hover {
  width: auto;
  background-color: #A6A6A6;
}
.section.portfolio .portfolio-project .project-skills .project-skill:hover p {
  opacity: 1;
  width: auto;
  margin-left: 10px;
}
.section.portfolio .portfolio-project .project-skills .project-skill p {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease;
}
.section.portfolio .portfolio-project .project-skills .project-skill img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.section.portfolio .portfolio-controller {
  height: 40px;
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.section.portfolio .portfolio-controller label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.section.portfolio .portfolio-controller label:hover input {
  width: 200px;
  padding: 0 20px 0 0;
  border-radius: 0 20px 20px 0;
  transition-delay: 0ms;
}
.section.portfolio .portfolio-controller label:hover img {
  border-radius: 50% 0 0 50%;
  transition-delay: 0ms;
}
.section.portfolio .portfolio-controller label input {
  width: 0;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0;
  color: #D9D9D9;
  background-color: #404040;
  outline: none;
  transition: all 0.3s ease;
  transition-delay: 200ms;
}
.section.portfolio .portfolio-controller label img {
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  background-color: #404040;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  transition-delay: 200ms;
}
.section.portfolio .portfolio-controller label img:hover {
  background-color: #404040;
}
.section.portfolio .portfolio-controller img {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #404040;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section.portfolio .portfolio-controller img:hover {
  background-color: #A6A6A6;
}
.section.skills {
  background-color: #333333;
  position: relative;
}
.section.skills .skills-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 90%;
  gap: 20px;
}
.section.skills .skills-container .skill {
  width: 33.3333%;
  height: 60%;
  overflow: hidden;
}
.section.skills .skills-container .skill .skill-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border-radius: 10px;
}
.section.skills .skills-container .skill .skill-loader div {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 100%;
  animation: l7 1s infinite linear;
}
.section.skills .skills-container .skill .skill-image {
  width: 100%;
  height: calc(75% - 20px);
  padding: 60px;
  background-color: #262626;
  border-radius: 10px;
  margin: 10px 0;
}
.section.skills .skills-container .skill .skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section.skills .skills-container .skill .skill-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  height: 25%;
  padding: 20px;
  border-radius: 10px;
}
.section.skills .skills-container .skill .skill-info small {
  color: #D9D9D9;
}
.section.skills .skill-controller {
  height: 40px;
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.section.skills .skill-controller label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.section.skills .skill-controller label:hover input {
  width: 200px;
  padding: 0 20px 0 0;
  border-radius: 0 20px 20px 0;
  transition-delay: 0ms;
}
.section.skills .skill-controller label:hover img {
  border-radius: 50% 0 0 50%;
  transition-delay: 0ms;
}
.section.skills .skill-controller label input {
  width: 0;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0;
  color: #D9D9D9;
  background-color: #404040;
  outline: none;
  transition: all 0.3s ease;
  transition-delay: 200ms;
}
.section.skills .skill-controller label img {
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  background-color: #404040;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
  transition-delay: 200ms;
}
.section.skills .skill-controller label img:hover {
  background-color: #404040;
}
.section.skills .skill-controller img {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #404040;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section.skills .skill-controller img:hover {
  background-color: #A6A6A6;
}
.section.about-me {
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section.about-me .about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 90%;
}
.section.about-me .about-me .about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
  height: 100%;
}
.section.about-me .about-me .about-me-image .about-me-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #2C2C2C;
}
.section.about-me .about-me .about-me-image .about-me-loader div {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#ffffff00);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 100%;
  animation: l7 1s infinite linear;
}
.section.about-me .about-me .about-me-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.section.about-me .about-me .about-me-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section.about-me .about-me .about-me-info h2 {
  color: #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 0.5rem;
}
.section.about-me .about-me .about-me-info p {
  color: #D9D9D9;
  margin: 1rem 0;
}
.section.about-me .about-me-controller {
  height: 40px;
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.section.about-me .about-me-controller img {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  background-color: #404040;
  color: #262626;
  cursor: pointer;
  transition: all 0.3s ease;
}
.section.about-me .about-me-controller img:hover {
  background-color: #A6A6A6;
}
.section.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.section.social-media a:hover img {
  transform: translateY(-5px);
}
.section.social-media a img {
  width: 50px;
  height: 50px;
  transition: all 0.15s ease;
}

@media only screen and (max-width: 1200px) {
  .side-header {
    display: none;
  }
  .section.home .home-content {
    flex-direction: column;
    gap: 40px;
  }
  .section.home .home-content .home-content-info {
    order: 2;
  }
  .section.home .home-content .home-content-image {
    order: 1;
  }
  .section.intro p {
    line-height: 25px;
    font-size: clamp(16px, 2vw, 58px);
  }
  .section.portfolio .portfolio-project {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }
  .section.portfolio .portfolio-project .portfolio-image {
    width: 100%;
    height: 20vh;
  }
  .section.portfolio .portfolio-project .portfolio-image .portfolio-image-image {
    height: 100%;
  }
  .section.portfolio .portfolio-project .portfolio-info {
    width: 100%;
    height: 40vh;
    max-height: 50vh;
  }
  .section.portfolio .portfolio-project .portfolio-info p {
    overflow: auto;
  }
  .section.portfolio .portfolio-project .project-skills .project-skill:hover {
    width: 50px;
    background-color: #404040;
  }
  .section.portfolio .portfolio-project .project-skills .project-skill:hover p {
    opacity: 0;
    width: 0;
    margin-left: 0;
  }
  .section.portfolio .portfolio-controller {
    bottom: 20px;
    right: 20px;
  }
  .section.portfolio .portfolio-controller label:hover input {
    width: calc(100vw - 190px);
  }
  .section.skills .skills-container .skill {
    width: 100%;
    height: 50vh;
    max-width: 350px;
  }
  .section.skills .skills-container .skill .skill-image {
    height: 60%;
  }
  .section.skills .skills-container .skill .skill-info {
    height: calc(40% - 20px);
    justify-content: center;
  }
  .section.skills .skill-controller {
    bottom: 20px;
    right: 20px;
  }
  .section.skills .skill-controller label:hover input {
    width: calc(100vw - 190px);
  }
  .section.about-me .about-me {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .section.about-me .about-me .about-me-image {
    width: 100%;
    height: 25vh;
  }
  .section.about-me .about-me .about-me-image img {
    height: 100%;
  }
  .section.about-me .about-me .about-me-info {
    width: 100%;
    height: 50vh;
    max-height: 40vh;
  }
  .section.about-me .about-me .about-me-info p {
    overflow: auto;
  }
}
@media only screen and (max-width: 700px) {
  .section.portfolio .portfolio-project .portfolio-info {
    height: 30vh;
  }
}/*# sourceMappingURL=main.css.map */