@import './global.scss';

.side-header {
    width: 100px;
    height: 400px;

    z-index: 998;
    position: fixed;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        pointer-events: all;
        transition-delay: 700ms;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover li,
        &.active li {
            margin: 10px 0;

            p {
                opacity: 1;
                pointer-events: all;
            }
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;
            width: fit-content;
            position: relative;
            padding-left: 20px;
            transition: all 0.3s ease;

            .dot {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                transform: translateX(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $secondary-color;
                margin: 1rem 0;
                transition: all 0.3s ease;
                margin-right: 20px;

                &.active {
                    width: 10px;
                    height: 10px;
                    background-color: $primary-color;
                }
            }

            p {
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    scroll-behavior: smooth;

    &.home {
        background-color: $background-color-01;

        .home-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90%;

            .home-content-info {
                margin: 0 2rem;

                h1 {
                    font-size: 3rem;
                    color: $text-primary-color;
                }

                p {
                    font-size: 1.5rem;
                    color: $text-secondary-color;
                }
            }

            .home-content-image {
                margin: 0 2rem;
                width: 200px;
                height: 200px;

                img {
                    width: auto;
                    height: 200px;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
        }
    }

    &.intro {
        background-color: $background-color-02;

        p {
            width: 50%;
            font-size: 1.5rem;
            color: $text-secondary-color;
        }
    }

    &.portfolio {
        display: flex;
        flex-direction: column;
        background-color: $background-color-01;
        position: relative;

        .portfolio-project {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            height: 90%;

            .portfolio-image {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 40%;
                height: 100%;

                .blur-effect.active {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 999;
                }

                .portfolio-image-image {
                    width: 100%;
                    object-fit: contain;
                    border-radius: 10px;

                    &.active {
                        position: fixed;
                        width: 80%;
                        height: 80%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1000;
                    }
                }

                .portfolio-image-controller {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 50%;
                    padding: 5px;
                    background-color: $primary-color;
                    color: $background-color-01;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &.left {
                        left: -20px;
                    }

                    &.right {
                        right: -20px;
                    }

                    &:hover {
                        background-color: $secondary-color;
                    }
                }
            }

            .portfolio-info {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    font-size: 1.8rem;
                    color: $text-primary-color;
                    border-bottom: 1px solid $text-primary-color;
                    padding-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    color: $text-secondary-color;
                    margin: 1rem 0;

                }

                small {
                    font-size: 1rem;
                    color: $text-secondary-color;
                }
            }
        }

        .portfolio-controller {
            height: 40px;
            position: absolute;
            bottom: 40px;
            right: 40px;

            img {
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 50%;
                padding: 5px;
                background-color: $primary-color;
                color: $background-color-01;
                font-size: 1.5rem;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }

    &.skills {
        background-color: $background-color-04;
    }

    &.about-me {
        background-color: $background-color-05;
    }
}
