@import './global.scss';

.side-header {
    width: 100px;
    height: 400px;

    z-index: 998;
    position: fixed;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        pointer-events: all;
        transition-delay: 700ms;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover li,
        &.active li {
            margin: 10px 0;

            p {
                opacity: 1;
                pointer-events: all;
            }
        }

        li {
            list-style: none;
            display: flex;
            align-items: center;
            width: fit-content;
            position: relative;
            padding-left: 20px;
            transition: all 0.3s ease;

            .dot {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                transform: translateX(-50%);
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $secondary-color;
                margin: 1rem 0;
                transition: all 0.3s ease;
                margin-right: 20px;

                &.active {
                    width: 10px;
                    height: 10px;
                    background-color: $primary-color;
                }
            }

            p {
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.section {
    width: 100%;
    height: calc(100vh - env(safe-area-inset-bottom));
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;

    .fp-tableCell {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.home {
        background-color: $background-color-01;

        .home-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 90%;

            .home-content-info {
                margin: 0 2rem;

                h1 {
                    color: $text-primary-color;
                }

                p {
                    color: $text-secondary-color;
                }
            }

            .home-content-image {
                margin: 0 2rem;
                width: 200px;
                height: 200px;

                img {
                    width: auto;
                    height: 200px;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
        }
    }

    &.intro {
        background-color: $background-color-02;

        p {
            width: 50%;
            color: $text-secondary-color;
            font-size: clamp(12px, 1.5vw, 22px);
        }
    }

    &.portfolio {
        display: flex;
        flex-direction: column;
        background-color: $background-color-01;
        position: relative;

        .portfolio-project {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 70%;
            height: 90%;

            .portfolio-image {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 40%;
                height: 100%;

                .blur-effect.active {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 999;
                }

                .portfolio-image-image {
                    width: 100%;
                    object-fit: contain;
                    border-radius: 10px;

                    &.active {
                        position: fixed;
                        width: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1000;
                    }
                }

                .portfolio-image-controller {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 50%;
                    padding: 5px;
                    background-color: $primary-color;
                    color: $background-color-01;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &.left {
                        left: -20px;
                    }

                    &.right {
                        right: -20px;
                    }

                    &:hover {
                        background-color: $secondary-color;
                    }
                }
            }

            .portfolio-info {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    color: $text-primary-color;
                    border-bottom: 1px solid $text-primary-color;
                    padding-bottom: 0.5rem;
                }

                p {
                    color: $text-secondary-color;
                    margin: 1rem 0;
                }

                .portfolio-smalls {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;

                    small {
                        color: $text-secondary-color;
                    }
                }
            }
        }

        .portfolio-controller {
            height: 40px;
            display: flex;
            position: absolute;
            bottom: 40px;
            right: 40px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;

                &:hover {
                    input {
                        width: 200px;
                        padding: 0 20px 0 0;
                        border-radius: 0 20px 20px 0;
                        transition-delay: 0ms;
                    }

                    img {
                        border-radius: 50% 0 0 50%;
                        transition-delay: 0ms;
                    }
                }

                input {
                    width: 0;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                    padding: 0;
                    color: $text-secondary-color;
                    background-color: $primary-color;
                    outline: none;
                    transition: all 0.3s ease;
                    transition-delay: 200ms;
                }

                img {
                    margin: 0;
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 50%;
                    padding: 10px;
                    background-color: $primary-color;
                    color: $background-color-01;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    transition-delay: 200ms;

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }

            img {
                margin: 0 5px;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 50%;
                padding: 5px;
                background-color: $primary-color;
                color: $background-color-01;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }

    &.skills {
        background-color: $background-color-04;
        position: relative;

        .skills-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 70%;
            height: 90%;
            gap: 20px;

            .skill {
                width: 33.3333%;
                height: 60%;
                overflow: hidden;

                .skill-image {
                    width: 100%;
                    height: 75%;
                    padding: 60px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .skill-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $background-color-01;
                    height: 25%;
                    padding: 20px;
                    border-radius: 10px;

                    small {
                        color: $text-secondary-color;
                    }
                }
            }
        }

        .skill-controller {
            height: 40px;
            display: flex;
            position: absolute;
            bottom: 40px;
            right: 40px;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;

                &:hover {
                    input {
                        width: 200px;
                        padding: 0 20px 0 0;
                        border-radius: 0 20px 20px 0;
                        transition-delay: 0ms;
                    }

                    img {
                        border-radius: 50% 0 0 50%;
                        transition-delay: 0ms;
                    }
                }

                input {
                    width: 0;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                    padding: 0;
                    color: $text-secondary-color;
                    background-color: $primary-color;
                    outline: none;
                    transition: all 0.3s ease;
                    transition-delay: 200ms;
                }

                img {
                    margin: 0;
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 50%;
                    padding: 10px;
                    background-color: $primary-color;
                    color: $background-color-01;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    transition-delay: 200ms;

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }

            img {
                margin: 0 5px;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 50%;
                padding: 5px;
                background-color: $primary-color;
                color: $background-color-01;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }

    &.about-me {
        background-color: $background-color-05;

        display: flex;
        flex-direction: column;
        position: relative;

        .about-me {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            height: 90%;

            .about-me-image {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 40%;
                height: 100%;

                img {
                    width: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }

            .about-me-info {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    color: $text-primary-color;
                    border-bottom: 1px solid $text-primary-color;
                    padding-bottom: 0.5rem;
                }

                p {
                    color: $text-secondary-color;
                    margin: 1rem 0;
                }
            }
        }

        .about-me-controller {
            height: 40px;
            display: flex;
            position: absolute;
            bottom: 40px;
            right: 40px;

            img {
                margin: 0 5px;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 50%;
                padding: 5px;
                background-color: $primary-color;
                color: $background-color-01;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .side-header {
        display: none;
    }

    .section {

        &.home {
            .home-content {
                flex-direction: column;
                gap: 40px;

                .home-content-info {
                    order: 2;
                }

                .home-content-image {
                    order: 1;
                }
            }
        }

        &.intro p {
            line-height: 25px;
            font-size: clamp(16px, 2vw, 58px);
        }

        &.portfolio {
            .portfolio-project {
                flex-direction: column;
                justify-content: flex-start;
                gap: 40px;

                .portfolio-image {
                    width: 100%;
                    height: 25vh;

                    .portfolio-image-image {
                        height: 100%;
                    }
                }

                .portfolio-info {
                    width: 100%;
                    height: 50vh;
                    max-height: 50vh;

                    p {
                        overflow: auto;
                    }
                }
            }

            .portfolio-controller {
                bottom: 20px;
                right: 20px;

                label {

                    &:hover input {
                        width: calc(100vw - 190px);
                    }
                }
            }
        }

        &.skills {
            .skills-container {
                .skill {
                    width: 100%;
                    height: 50vh;

                    .skill-image {
                        height: 60%;
                    }

                    .skill-info {
                        height: 40%;
                        justify-content: center;
                    }
                }
            }

            .skill-controller {
                bottom: 20px;
                right: 20px;

                label {

                    &:hover input {
                        width: calc(100vw - 190px);
                    }
                }
            }
        }

        &.about-me {

            .about-me {
                flex-direction: column;
                justify-content: center;
                gap: 40px;

                .about-me-image {
                    width: 100%;
                    height: 25vh;

                    img {
                        height: 100%;
                    }
                }

                .about-me-info {
                    width: 100%;
                    height: 50vh;
                    max-height: 40vh;

                    p {
                        overflow: auto;
                    }
                }
            }
        }
    }
}
